<!-- Loads internationalization, loads static  -->
{% load static %}{% load i18n %}
<!-- Gets the preloader for a inserting an email in the correct newsletter -->
{% get_current_language as LANGUAGE_CODE %}

<!-- Basic footer -->
<footer class="container-xxl bg-primary text-center text-secondary">
    <div class="row pb-2">
        <!-- Newsletter sign up -->
        <section class="col-12 col-md-4 order-1 order-md-2 mt-3">
            <h2 class="p-font l-space-1 h5">{% trans 'Newsletter' %}</h2>
            <p id="newsEmailText" class="p-font form-text mb-1 visually-hidden">{% trans 'Sign Up Here!' %}</p>
            <!-- Accepts email using django forms goes to a language based newsletter  -->
            <form action="{% url 'contact:newsletter' %}" method="POST" id="news-form"
                class="row justify-content-center mw-100 mb-1">
                {% csrf_token %}
                <label class="p-font text-primary sr-only visually-hidden" for="newsEmail">{% trans 'Email' %}</label>
                <div class="col-auto col-sm-5 col-md-8 col-lg-8 mb-1 ps-1">
                    <input id="newsEmail" type="email" name="email_{{ LANGUAGE_CODE }}" placeholder="Email"
                        class="p-font text-primary form-control" aria-describedby="newsEmailText"
                        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" required />
                </div>
                <div class="col-auto col-sm-2 mb-1">
                    <button type="submit" id="news-submit"
                        class="pixel-contact p-font btn-tran btn btn-warning text-primary shadow fw-bold h-100">{% trans 'Join' %}</button>
                </div>
            </form>
        </section>
        <!-- Social Link section Templates are inline SVG icons -->
        <section class="col-12 col-md-4 order-2 order-md-1 mt-3">
            <h2 class="p-font l-space-1 h5">{% trans 'Social' %}</h2>
            <ul class="list-inline d-flex h5 w-100 justify-content-evenly">
                <li class="list-inline-item">
                    <a class="text-white" target="_blank" rel="noopener"
                        href="https://www.facebook.com/NuragicShamanicHealing/">
                        <p class="visually-hidden">{% trans 'Facebook Page' %}</p>
                        {% include 'base/includes/icons/facebook.svg' %}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" target="_blank" rel="noopener"
                        href="https://www.instagram.com/nuragic.shamanic.healing/">
                        <p class="visually-hidden">{% trans 'Instagram Page' %}</p>
                        {% include 'base/includes/icons/instagram.svg' %}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" target="_blank" rel="noopener"
                        href="https://www.youtube.com/channel/UCyl4isKUXtr6YmAJWunqGtg">
                        <p class="visually-hidden">{% trans 'Youtube Page' %}</p>
                        {% include 'base/includes/icons/youtube.svg' %}
                    </a>
                </li>
            </ul>
        </section>
        <!-- Links to contact page -->
        <section class="col-12 col-md-4 order-3 mt-3">
            <h2 class="p-font l-space-1 h5">{% trans 'Contact' %}</h2>
            <ul class="list-inline d-flex h5 w-100 justify-content-evenly">
                <li class="list-inline-item">
                    <a class="pixel-contact text-white" target="_blank" rel="noopener"
                        href="https://wa.me/353834646130">
                        <p class="visually-hidden">{% trans 'Whatsapp Messaging' %}</p>
                        {% include 'base/includes/icons/whatsapp.svg' %}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="pixel-contact text-white" target="_blank" rel="noopener"
                        href="https://m.me/NuragicShamanicHealing">
                        <p class="visually-hidden">{% trans 'Facebook Messenger' %}</p>
                        {% include 'base/includes/icons/messenger.svg' %}
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="smooth-click text-white" href="{% url 'contact:email-form' %}">
                        <p class="visually-hidden">{% trans 'Email Contact' %}</p>
                        {% include 'base/includes/icons/envelope.svg' %}
                    </a>
                </li>
            </ul>
        </section>
        <section class="col-12 order-last px-3 px-lg-5 mt-2">
            <h2 class="p-font l-space-1 h6 mb-0">{% trans 'Policies' %}</h2>
            <ul class="p-font list-inline my-1">
                {% for item in all_policies %}
                <li class=" list-inline-item">
                    <a href="{% url 'policies:policy-detail' item.slug item.id %}"
                        class="p-font col-12 col-md-auto text-secondary"><small
                            class="policy-hover">{{ item.name }}</small></a>
                </li>
                {% endfor %}
            </ul>
            <p class="p-font text-secondary"><small>&copy; Nuragic Shamanic
                    Healing<br>{% trans 'All Rights Reserved'%}</small></p>
        </section>

    </div>
</footer>
