{% load static %}{% load i18n %} {% get_current_language as LANGUAGE_CODE %} <footer
	class="container-xxl bg-secondary text-center text-primary">
	<div class="row">
		<!-- Newsletter sign up -->
		<div class="col-12 col-md-4 order-md-3 mt-3">
			<h2 class="p-font l-space-1 h4">{% trans 'Newsletter' %}</h2>
			<p id="newsEmailText" class="p-font form-text mb-1 visually-hidden">{% trans 'Sign Up Here!' %}</p>
			<!-- Fires function in sendMail.js, sending form to sheridan.rp@gmail.com -->
			<form action="{% url 'contact:newsletter' %}" method="POST" id="news-form"
				class="row g-1 justify-content-center mw-100 mb-1"> {% csrf_token %} <div
					class="col-auto ms-1 form-floating mb-1">
					<input id="newsEmail" type="email" name="email_{{ LANGUAGE_CODE }}" placeholder="Email"
						class="form-control" aria-describedby="newsEmailText"
						pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" required />
					<label class="p-font sr-only" for="newsEmail ">{% trans 'Email' %}</label>
				</div>
				<div class="col-auto mb-1">
					<button type="submit" id="news-submit"
						class="p-font btn-tran btn btn-warning text-primary h-100">{% trans 'Join' %}</button>
				</div>
			</form>
		</div>
		<!-- Social Link section -->
		<div class="col-12 col-md-4 mt-3 ">
			<h2 class="p-font l-space-1 h4 ">{% trans 'Social' %}</h2>
			<ul class="list-inline d-flex h4 w-100 justify-content-evenly">
				<li class="list-inline-item ">
					<a target="_blank " href="https://www.facebook.com/NuragicShamanicHealing/">
						<svg class="bi" width="42" height="42" fill="currentColor">
							<use xlink:href="{% static 'icons/bootstrap-icons.svg'%}#facebook" />
						</svg></a>
				</li>
				<li class="list-inline-item ">
					<a target="_blank " href="https://www.instagram.com/nuragic.shamanic.healing/"><svg class="bi"
							width="42" height="42" fill="currentColor">
							<use xlink:href="{% static 'icons/bootstrap-icons.svg'%}#instagram" />
						</svg></a>
				</li>
				<li class="list-inline-item ">
					<a target="_blank " href="https://www.youtube.com/channel/UCyl4isKUXtr6YmAJWunqGtg"><svg class="bi"
							width="48" height="48" fill="currentColor">
							<use xlink:href="{% static 'icons/bootstrap-icons.svg'%}#youtube" />
						</svg></a>
				</li>
			</ul>
		</div>
		<!-- Links to contact page -->
		<div class="col-12 col-md-4 mt-3">
			<h2 class="p-font l-space-1 h4">{% trans 'Contact' %}</h2>
			<p class="mb-0 "> {% trans 'Message me on' %} <strong><a target="_blank "
						href="https://wa.me/353834646130">WhatsApp <svg class="bi" width="16" height="16"
							fill="currentColor">
							<use xlink:href="{% static 'icons/bootstrap-icons.svg'%}#whatsapp" />
						</svg></a></strong>, <strong><a target="_blank " href="https://m.me/NuragicShamanicHealing">FB
						Messenger <svg class="bi" width="16" height="16" fill="currentColor">
							<use xlink:href="{% static 'icons/bootstrap-icons.svg'%}#fb-messenger" />
						</svg></a></strong> {% trans 'or' %} <strong><a class="smooth-click text-primary"
						href="{% url 'contact:email-form' %}">{% trans 'send an email' %}.</a></strong></p>
		</div>
	</div>
</footer>
