<!-- Loads internationalization -->
{% load i18n %}
<li class="btn-tran nav-item py-1{% if home_active %} active{% endif %}">
    <a class="smooth-click p-font l-space-2 btn btn-link nav-link text-end text-lg-center mb-0 p-0 pe-3 pe-md-0"
        href="{% url 'info:home' %}">{% trans 'HOME' %}</a>
</li>
<!-- Adds a menu bar for every category item. The "display" property filters them in the view -->
{% if categories %}
{% for item in categories %}
<li
    class="btn-tran nav-item dropdown py-1{% if item.id|stringformat:'i' in active_category %} active{% endif %}{% if 'about' in item.menu_word_en.lower %} order-5{% endif %}">
    <button class="nav-link p-font l-space-2 btn btn-link dropdown-toggle text-end text-lg-center mb-0 p-0"
        id="{{ item.menu_word }}Dropdown" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">{{ item.menu_word|upper }}
    </button>
    <ul class="dropdown-menu dropdown-menu-end text-end text-lg-center bg-secondary"
        aria-labelledby="{{ item.menu_word }}Dropdown">
        <li>
            <a class="p-font smooth-click l-space-1 dropdown-item text-white{% if item.id|stringformat:'i' in active_all %} active{% endif %}"
                href="{% url 'info:category-detail' item.id %}">
                {% if 'about' in item.title_en.lower %}
                {% trans 'All About' %}
                {% else %}
                {% trans 'All' %}
                {{ item.menu_word|title }}
                {% endif %}</a>
        </li>
        <!-- Adds a dropdown item for each page in a category -->
        {% for page in item.page.all %}
        <li>
            <a class="p-font smooth-click l-space-1 dropdown-item text-white{% if page.id|stringformat:'i' in active_page %} active{% endif %}"
                href="{% url 'info:page-detail' page.id %}">{{ page.title|title }}</a>
        </li>
        {% endfor %}
        <!-- The 'About' Category is always last -->
        {% if 'about' in item.title_en.lower %}
        <li>
            <a class="p-font l-space-1 smooth-click dropdown-item text-white{% if 'contact' in request.path %} active{% endif %}"
                href="{% url 'contact:email-form' %}">{% trans 'Contact' %}</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endfor %}
{% endif %}
<li class="btn-tran nav-item order-last py-1">
    <a class="smooth-click p-font l-space-2 btn btn-link nav-link text-end text-lg-center mb-0 p-0 pe-3 pe-md-0"
        href="{% url 'products:product-list' %}">{% trans 'SHOP' %}<strong>&nearr;</strong></a>
</li>
