<!-- Loads internationalization -->
{% load i18n %}
<li class="btn-tran shop-nav nav-item py-1{% if all_products_active %} active{% endif %}">
    <a class="smooth-click p-font l-space-2 btn btn-link nav-link text-end text-lg-center mb-0 p-0 pe-3 pe-md-0"
        href="{% url 'products:product-list' %}">{% trans 'OFFERINGS' %}</a>
</li>
<!-- Adds a menu bar for every category item. The "display" property filters them in the view -->
{% if categories %}
{% for item in categories %}
<li class="btn-tran shop-nav nav-item py-1{% if item.id|stringformat:'i' in active_category %} active{% endif %}">
    <a class="smooth-click p-font l-space-2 btn btn-link nav-link text-end text-lg-center mb-0 p-0 pe-3 pe-lg-0"
        href="{% url 'products:shop-category-detail' item.slug item.id %}">{{ item.title|upper }}</a>
</li>
{% endfor %}
{% endif %}
<li class="btn-tran nav-item order-last py-1">
    <a class="smooth-click p-font l-space-2 btn btn-link nav-link text-end text-lg-center mb-0 p-0 pe-3 pe-lg-0"
        href="{% url 'info:home' %}">{% trans 'EXPLORE NSH' %}<strong>&nearr;</strong></a>
</li>
