{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}
{% block head_title %}{% trans 'Your Cart' %}{% endblock%}

<!-- Open Graph Tags To redo -->
{% include 'base/includes/open_graph_basic.html'%}

{% block content %}
<div class="row">
    <div class="col-12 bg-brown py-2">
        <h2 class="h-font l-space-2 text-white text-center text-uppercase display-4 mb-0">{% trans 'Your Cart' %}</h2>
    </div>
</div>
{% if cart %}
<section class="row px-0 px-md-2 flex-grow-1 bg-white">
    <article class="col-12 col-md-8 order-1 order-md-0">
        <ul class="list-group list-group-flush">
            <!--For every item in the cart, it creates a row with option for that product.-->
            {% for item in cart_items %}
            {% include 'cart/includes/cart_product_display.html' %}
            {% endfor %}
            {% include 'cart/includes/cart_total.html' %}
        </ul>
    </article>
    {% include 'cart/includes/subtotal.html' %}
</section>
{% else %}
<!--If there is no item in the cart, it displays a link back to the shop-->
<section class="row px-0 flex-xl-grow-1 px-md-2 bg-white">
    <article class="col text-center mt-4">
        <h2 class="p-font text-primary h4">{% trans 'Your cart is empty...' %}</h2>
        <h2 class="p-font text-primary mb-0">{% trans 'See what we can offer' %}:</h2>
        <a class="p-font text-primary btn-tran btn btn-lg btn-warning my-4"
            href="{% url 'products:product-list' %}">{% trans 'Offerings' %}</a>
    </article>
</section>
{% if related_products %}
{% include 'base/includes/horizontal_rule.html'%}
<!-- Displays related items based on category. -->
{% include 'products/includes/related_products.html' %}
{% endif %}
{% endif %}
{% endblock %}
{% block postloadjs %}
<script>
    // Inputs special values that are used for ajax logic processing to declare quantity update.
    $(".update-button").on("click", function () {
        var id = this.id.slice(3);
        $(`#${id}-special-info`).remove()
        $(`#af-${id}`).append(`<input id="${id}-special-info" type="hidden" name="special" value="update"/>`);
    });
    // Inputs special values that are used for ajax logic processing to remove the product.
    $(".remove-button").on("click", function () {
        var id = this.id.slice(3);
        $(`#${id}-special-info`).remove()
        $(`#af-${id}`).append(`<input id="${id}-special-info" type="hidden" name="special" value="remove"/>`);
    });
</script>
{{ block.super }}
{% endblock %}
