{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}
{% block head_title %}{% trans 'Your Cart' %}{% endblock%}

<!-- Open Graph Tags To redo -->
{% include 'base/includes/open_graph_basic.html'%}

{% block content %}
<div class="row">
    <div class="col-12 bg-brown py-2">
        <h2 class="h-font l-space-2 text-white text-center display-4 mb-0">{% trans 'YOUR CART' %}</h2>
    </div>
</div>
<section class="row px-0 px-md-2 bg-white">
    {% if cart %}
    <article class="col-12 col-md-8 order-1 order-md-0">
        <ul class="list-group list-group-flush">
            <!--For every item in the cart, it creates a row with option for that product.-->
            {% for item in cart_items %}
            {% include 'cart/includes/cart_product_display.html' %}
            {% endfor %}
            {% include 'cart/includes/cart_total.html' %}
        </ul>
    </article>
    {% include 'cart/includes/subtotal.html' %}
</section>
{% else %}
<!--If there is no item in the cart, it displays a link back to he shop-->
<article class="row mx-0">
    <div class="col text-center">
        <h4 class="text-dark">Your cart is empty...</h4>
        <h2 class="text-primary heading-font">Let's do some shopping</h2>
        <a class="btn btn-lg btn-danger mt-4 w-25" href="{% url 'products:product-list' %}">Shop</a>
    </div>
</article>
{% endif %}
<div class="col-12 bg-brown py-2"></div>
{% endblock %}
{% block postloadjs %}
<script>
    // Inputs special values that are used for ajax logic processing to declare quantity update.
    $(".update-button").on("click", function () {
        var id = this.id.slice(3);
        $(`#af-${id}`).append('<input type="hidden" name="special" value="update"/>');
    });
    // Inputs special values that are used for ajax logic processing to remove the product.
    $(".remove-button").on("click", function () {
        var id = this.id.slice(3);
        $(`#af-${id}`).append('<input type="hidden" name="special" value="remove"/>');
    });
</script>
{{ block.super }} {% endblock %}
