<!-- Loads internationalization -->
{% load i18n %}
<!-- Used to display an order on the order_display.html template.
Displays key information, order no., date, no. of items, total. -->
<article class="p-font list-group-item fs-6 mb-0 mt-3 mt-md-0 p-0 p-sm-2 pb-sm-3 p-md-3 p-lg-5">
    <div class="row justify-content-center">
        <a class="col-11 col-sm-2 text-center" href="{% url 'checkout:order-detail' order.id %}">
            <img class="img-fluid" src="{{ order.lineitems.first.product.image_4_3_sm.url }}"
                alt="{{ item.product.title }}" />
        </a>
        <div class="col-11 col-sm-9 col-lg-7 col-xl-6 p-0 p-sm-3 my-3 my-sm-auto">
            <p class="p-font text-primary mb-1">
                <span class="p-font text-primary"><strong>{% trans 'Order Number:' %}</strong></span>
                <span class="float-end">
                    <a class="d-none d-md-inline-block"
                        href="{% url 'checkout:order-detail' order.id %}">{{ order.order_number }}</a>
                    <a class="d-none d-sm-inline-block d-md-none"
                        href="{% url 'checkout:order-detail' order.id %}">{{ order.order_number|truncatechars:'21' }}</a>
                    <a class="d-inline-block d-sm-none"
                        href="{% url 'checkout:order-detail' order.id %}">{{ order.order_number|truncatechars:'12' }}</a>
                </span>
            </p>
            <p class="p-font text-primary mb-1">
                <span class="p-font text-primary"><strong>{% trans 'Date:' %}</strong></span>
                <span class="float-end">{{ order.date }}</span>
            </p>
            <p class="p-font text-primary mb-1">
                <span class="p-font text-primary"><strong>{% trans 'Items:' %}</strong></span>
                <span class="float-end">{{ order.lineitems.count }}</span>
            </p>
            <p class="p-font text-primary mb-1">
                <span class="p-font text-primary"><strong>{% trans 'Total:' %}</strong></span>
                <span class="float-end">€{{ order.grand_total }}</span>
            </p>
        </div>
    </div>
</article>
