{% extends 'base/includes/form_layout.html' %}
<!-- Loads internationalization, loads crispy forms  -->
{% load i18n %}

<!-- Title -->
{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'contact/includes/critical_css/email_form.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block form_title %}{% trans "ACCOUNT INACTIVE" %}{% endblock %}
{% block form_content %}<p class="p-font text-primary text-center mt-1 mb-0">{% trans "This account is inactive." %}</p>
{% endblock %}
