{% extends 'base/includes/form_layout.html' %}
<!-- Loads internationalization, loads crispy forms  -->
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'base/includes/critical_css/base.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block form_title %}{% trans "Confirm Email Address" %}{% endblock %}

{% block form_content %}
{% if confirmation %}
{% user_display confirmation.email_address.user as user_display %}

<p class="p-font text-primary text-center mt-1 mb-0">
    {% blocktrans with confirmation.email_address.email as email %}I confirm that <a class="form-link text-info"
        href="mailto:{{ email }}">{{ email }}</a> is an email address for user
    {{ user_display }}.{% endblocktrans %}
</p>

<form class="rounded p-2" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-auto mx-auto">
            <button class="p-font btn-tran btn  btn-warning text-primary shadow"
                type="submit">{% trans 'Confirm' %}</button>
        </div>
    </div>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p class="p-font text-primary text-center mt-1 mb-0">{% blocktrans %}This email confirmation link expired or is
    invalid. Please <a class="smooth-click form-link text-info" href="{{ email_url }}">issue a new email confirmation
        request</a>.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
