{% extends 'base/includes/form_layout.html' %}
<!-- Loads internationalization, loads crispy forms  -->
{% load i18n %} {% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'base/includes/critical_css/base.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block form_title %}{% trans 'SIGN IN' %}{% endblock %}
{% block form_content %}
<p class="p-font text-primary text-center mt-1 mb-0">
    {% blocktrans %}<a class="smooth-click form-link text-info" href="{{ signup_url }}">Sign Up</a>
    if you have not created an account yet.{% endblocktrans %}
</p>
{% crispy form %}
{% endblock %}
