{% extends 'base/includes/form_layout.html' %}
<!-- Loads internationalization, loads crispy forms  -->
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'base/includes/critical_css/base.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block form_title %}{% trans "SIGN OUT" %}{% endblock %}
{% block form_content %}
<p class="p-font text-primary text-center mt-1 mb-0">{% trans 'Are you sure you want to sign out?' %}</p>
<form class="rounded p-2" method="POST" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="row">
        <div class="col-auto mx-auto">
            <button class="btn p-font btn-tran btn btn-warning text-primary shadow"
                type="submit">{% trans 'Sign Out' %}</button>
        </div>
    </div>
</form>
{% endblock %}
