{% extends 'base/includes/form_layout.html' %}

<!-- Loads internationalization, loads crispy forms  -->
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'base/includes/critical_css/base.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}
{% block form_header %}{% trans 'Password Reset' %}{% endblock %}
{% block form_title %}{% trans 'Password Reset' %}{% endblock %}
{% block form_content %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p class="p-font text-primary text-center mt-1 mb-0">{% blocktrans %}We have sent you an email. If you do not
    receive it within a few minutes, please{% endblocktrans %}
    <a class="smooth-click form-link text-info" href="{% url 'contact:email-form' %}">{% trans 'contact us' %}.</a>
</p>
</div>
</article>
{% endblock %}
