{% extends 'base/includes/form_layout.html' %}
<!-- Loads internationalization, loads crispy forms  -->
{% load i18n %} {% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'base/includes/critical_css/base.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block form_title %}{% trans 'PASSWORD RESET' %}{% endblock %}
{% block form_content %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p class="p-font text-primary text-center mt-1 mb-0">
    {% trans 'Enter your email address and we will send a link that will allow you to reset your password.' %}
</p>
{% crispy form %}
<p class="p-font text-primary text-center mt-1 mb-0"><a class="smooth-click form-link text-info"
        href="{% url 'contact:email-form' %}">{% trans 'Contact us' %}</a> {% blocktrans %}if you have any
    trouble resetting your password.{% endblocktrans %}</p>
</div>
</article>
{% endblock %}
