{% extends "base/base.html" %}
<!-- Loads internationalization, loads static, loads crispy forms  -->
{% load static %} {% load i18n %} {% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block content %}
<article class="row min-vh-60 align-content-center py-2">
    <h2 class="h-font l-space-2 form-box col-12 text-center text-white bg-brown rounded-top h1 py-3 mb-0 mx-auto">
        {% if token_fail %}{% trans "BAD TOKEN" %}{% else %}{% trans "CHANGE PASSWORD" %}{% endif %}
    </h2>
    <div class="col-12"></div>
    <div class="form-box col col-md-8 bg-secondary rounded-bottom mx-sm-auto p-2">
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="p-font text-primary text-center mt-1 mb-0">{% blocktrans %}The password reset link was invalid,
            possibly because it has already been used. Please request a
            <a class="text-white" href="{{ passwd_reset_url }}">new password reset email</a>.{% endblocktrans %}
        </p>
        {% else %}
        {% if form %}
        <form class="rounded p-2" method="POST" action="{{ action_url }}">
            {% crispy form %}
        </form>
        {% else %}
        <p class="p-font text-primary text-center mt-1 mb-0">{% trans 'You have updated your password.' %}.
        </p>
        {% endif %}
        {% endif %}
    </div>
</article>
{% endblock %}
