{% extends "base/base.html" %}
<!-- Loads internationalization, loads static, loads crispy forms  -->
{% load static %} {% load i18n %} {% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

<!-- Open Graph Tags -->
{% block og_type %}website{% endblock %}
{% block og_title %}{% trans 'Ancient Wisdom, Modern Healing' %}{% endblock %}
{% block og_description %}{% trans 'Consciousness, spirituality, healing and ancestry. Working with systems such as Tarot, Oracle Cards, Shamanic Drumming and Healing. Creating events for sharing and connections between individuals and cultures.' %}{% endblock %}
{% block og_image %}{% static 'open_graph/logo1200x630.png' %}{% endblock %}
{% block og_image_type %}image/png{% endblock %}
{% block og_image_width %}1200{% endblock %}
{% block og_image_height %}630{% endblock %}
{% block og_image_alt %}Nuragic Shamanic Healing Logo{% endblock %}
{% include 'base/includes/open_graph_basic.html'%}

{% block content %}

<article class="row min-vh-60 align-content-center py-2">
    <h2 class="h-font l-space-2 form-box col-12 text-center text-white bg-brown rounded-top h1 py-3 mb-0 mx-auto">
        {% trans 'PASSWORD RESET' %}
    </h2>
    <div class="col-12"></div>
    <div class="form-box col col-md-8 bg-secondary rounded-bottom mx-sm-auto p-2">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="p-font text-primary text-center mt-1 mb-0">
            {% trans 'Enter your e-mail address and we will send a link that will allow you to reset your password.' %}
        </p>
        {% crispy form %}
        <p class="p-font text-primary text-center mt-1 mb-0"><a class="smooth-click text-white"
                href="{% url 'contact:email-form' %}">{% trans 'Contact us' %}</a> {% blocktrans %}if you have any
            trouble resetting your password.{% endblocktrans %}</p>
    </div>
</article>
{% endblock %}
