{% extends 'base/includes/form_layout.html' %}

<!-- Loads internationalization -->
{% load i18n %} {% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'contact/includes/critical_css/email_form.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block form_title %}{% trans "CHANGE PASSWORD" %}{% endblock %}
{% block form_content %}
<form method="POST" action="{% url 'users:user-change-password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="row">
        <div class="col-auto me-auto mt-1">
            <button class="btn btn-sm p-font btn-tran btn btn-warning text-primary shadow" type="submit"
                name="action">{% trans "Change Password" %}</button>
        </div>
    </div>
</form>
{% endblock %}
