{% extends 'base/includes/form_layout.html' %}

{% load i18n %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'base/includes/critical_css/base.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block form_title %}{% trans "SET PASSWORD" %}{% endblock %}

{% block form_content %}
<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="col-auto mx-auto">
        <button class="btn p-font btn-tran btn btn-warning text-primary shadow"
            type="submit">{% trans 'Set Password' %}</button>
    </div>
</form>
{% endblock %}
