{% extends 'base/includes/form_layout.html' %}
<!-- Loads internationalization, loads crispy forms  -->
{% load i18n %} {% load crispy_forms_tags %}

{% block head_title %}{% trans "Register" %}{% endblock %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'base/includes/critical_css/base.html' %}{% endblock %}

{% block form_header %}{% trans "Register" %}{% endblock %}
{% block form_title %}{% trans 'Register' %}{% endblock %}
{% block form_content %}
<p class="p-font text-primary text-center mt-1 mb-0">{% blocktrans %}
    <a class="smooth-click form-link text-info" href="{{ login_url }}">Sign In</a>
    if you already have an account.{% endblocktrans %}
</p>
{% crispy form %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $(document).ready(function () {
        $("#id_tnc").click(function () {
            if ($(this).prop("checked") == true) {
                $("#submit_register").attr("disabled", false)
            }
            else if ($(this).prop("checked") == false) {
                $("#submit_register").attr("disabled", true)
            }
        })
    })
</script>
{% endblock %}
