{% load i18n %} {% load static %}
<!-- Displays carousel items. Items are only shown if they have the "display" boolean as true.
This is done in the view before being passed here. They are ordered by most recent first. -->
<div id="splash-carousel" class="carousel slide" data-bs-ride="carousel">
    <!-- This loops through the items, setting the first as the active one. -->
    {% if carousel|length > 1 %}
    <ol class="carousel-indicators d-none d-lg-flex mb-0">
        {% for number in carousel %}
        <li data-bs-target="#splash-carousel" data-bs-slide-to="{{ forloop.counter0 }}"
            {% if forloop.first %}class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    {% endif %}
    <div class="carousel-inner">
        <!-- This loops through each item and gives them appropriate images and links. -->
        {% for item in carousel %}
        <a class="smooth-click carousel-item {% if forloop.first %}active{% endif %}"
            href="{% url 'info:page-detail' item.page.id %}">
            <img src="{{ item.image_tw_header.url }}"
            srcset="{{ item.image_tw_header.url }} {{ item.image_tw_header.width }}w,
            {{ item.image_tw_header_md.url }} {{ item.image_tw_header_md.width }}w,
            {{ item.image_tw_header_sm.url }} {{ item.image_tw_header_sm.width }}w" 
            sizes="100vw" 
            class="d-none d-md-block w-100" alt="{{ item.title }}" />
            <img src="{{ item.image_fb_link.url }}" 
            srcset="{{ item.image_fb_link.url }} {{ item.image_fb_link.width }}w,
            {{ item.image_fb_link_md.url }} {{ item.image_fb_link_md.width }}w,
            {{ item.image_fb_link_sm.url }} {{ item.image_fb_link_sm.width }}w" 
            sizes="100vw" 
            class="d-block d-md-none w-100" alt="{{ item.title }}" />
            <div class="dark-overlay carousel-caption w-100 py-1 py-lg-3">
                <h2 class="h-font l-space-2 h5 mb-0 mb-md-1">{{ item.title|upper }}</h2>
                <p class="p-font d-none d-md-block mb-0">{{item.description}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% if carousel|length > 1 %}
    <!-- This displays the buttons for slide selection. -->
    <a class="carousel-control-prev" href="#splash-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{% trans 'Previous' %</span>
    </a>
    <a class="carousel-control-next" href="#splash-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
    {% endif %}
</div>
