{% load static %} {% get_media_prefix as MEDIA_URL %} {% for item in categories %}
{% if 'about' not in item.menu_word_en %} <div class="col-12 bg-brown py-2"></div>
<section class="row"> {% if forloop.counter|divisibleby:"2" %} <div class="col-auto col-md d-flex bg-white">
		<img src="{{ item.image.url }}" alt="{{ item.title }}" class="img-fluid m-auto" />
	</div>
	<div class="col-auto col-md bg-white px-3 pt-3">
		<h1 class="h-font l-space-2 text-primary text-primary"> {{ item.title|upper }} </h1>
		<p class="p-font text-primary">{{ item.description }}</p>
		<p class="text-center">
			<a href="{% url 'info:category-detail' item.id %}"
				class="p-font btn-tran btn btn-warning shadow text-primary">{{ item.button_text }}</a>
		</p>
	</div> {% else %} <div class="col-auto col-md order-2 order-md-1 bg-white px-3 pt-3">
		<h1 class="h-font l-space-2 text-primary text-center"> {{ item.title|upper }} </h1>
		<p class="p-font text-primary">{{ item.description }}</p>
		<p class="text-center">
			<a href="{% url 'info:category-detail' item.id %}"
				class="p-font btn-tran btn btn-warning shadow text-primary">{{ item.button_text }}</a>
		</p>
	</div>
	<div class="col-auto col-md order-1 order-md-2 d-flex bg-white">
		<img src="{{ item.image.url }}" alt="{{ item.title }}" class="img-fluid my-auto" />
	</div> {% endif %}
</section> {% endif %}{% endfor %} <div class="row">
	<div class="col-12 bg-brown py-2"></div>
</div>
