{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'policies/includes/critical_css/policy_detail.html' %}{% endblock %}

<!-- Meta details -->
{% block meta_description %}{{ object.name }}{% endblock %}
{% block meta_keywords %}{{ block.super }} {{ object.name }}{% endblock %}

<!-- Open Graph Tags -->
{% block og_type %}website{% endblock %}
{% block og_title %}{{ object.name }} | Nuragic Shamanic Healing{% endblock %}
{% block og_description %}{% trans 'Learn about our policies.' %}{% endblock %}
{% block og_image %}{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'open_graph/logo1200x630.png' %}{% endblock %}
{% block og_image_type %}image/png{% endblock %}
{% block og_image_width %}1200{% endblock %}
{% block og_image_height %}630{% endblock %}
{% block og_image_alt %}{% trans 'Nuragic Shamanic Healing Logo' %}{% endblock %}

{% block head_title %}{{ object.name }}{% endblock %}
{% block content %}
<!-- Layout for Pages -->
<article class="flex-grow-1 bg-white">
    <div class="row">
        <div class="col-12 bg-brown py-2">
            <h2 class="p-font l-space-2 text-white text-center display-4 mb-0">{{ object.name }}</h2>
        </div>
    </div>
    <section class="row mt-3 mx-2 mx-sm-3 mx-md-4 mx-lg-5">
        <div class="col-12">
            <div class="p-font text-primary text-break">{{ object.content|safe }}</div>
        </div>
    </section>
</article>
{% endblock %}
