{% extends "account/email/base_message.html" %}{% load i18n %}
{% block content %}{% autoescape off %}{% blocktrans %}You're receiving this email because a password reset was
requested for your user account with username {{ username }}.<br>
It can be safely ignored if you did not request a password reset.<br><br><a href="{{ password_reset_url }}"
    rel="noopener" style="text-decoration: none; color: #f5c936;" target="_blank">Click Here</a> to reset your
password. Or you can copy and paste this URL into your browser's address bar:{% endblocktrans %}<br>
{{ password_reset_url }}{% endautoescape %}{% endblock %}
