{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'products/includes/critical_css/shopcategory_detail.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block head_title %}Your Likes{% endblock%}
{% block content %}
<!-- Displays a liked items feed in reverse chronological order.
If There is nothing it provides a link back to the page. -->
<section class="flex-grow-1 bg-white">
    <div class="row">
        <div class="col-12 bg-brown py-2">
            <h2 class="h-font l-space-2 text-white text-center text-uppercase display-4 mb-0">{% trans 'My Favorites' %}
            </h2>
        </div>
    </div>
    {% if likes %}
    <div class="row px-2 bg-white">
        <!-- Includes the standard product_box.hml template -->
        {% for product in page_obj %}
        {% include 'products/includes/product_box.html' %}
        {% endfor %}
    </div>
    {% else %}
    <section class="row px-0 flex-xl-grow-1 px-md-2 bg-white">
        <article class="col text-center mt-4">
            <h2 class="p-font text-primary h4">{% trans 'No Favorites...' %}</h2>
            <h2 class="p-font text-primary mb-0">{% trans 'Discover' %}</h2>
            <a class="p-font text-primary btn-tran btn btn-lg btn-warning my-4"
                href="{% url 'products:product-list' %}">{% trans 'Offerings' %}</a>
        </article>
    </section>
    {% endif %}
    {% if page_obj.has_next or page_obj.has_previous %}
    <nav aria-label="{% trans 'Product Page Navigation' %}">
        {% include 'base/includes/paginator.html' %}
    </nav>
    {% endif %}
</section>
{% endblock %}
