{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block head_title %}Your Likes{% endblock%}
{% block content %}
<!-- DIsplays a liked items feed in reverse chronological order.
If There is nothing it provides a link back to the page. -->
<div class="row">
    <div class="col-12 bg-brown py-2"></div>
</div>
<div class="row bg-white">
    <div class="col">
        <h1 class="h-font l-space-2 bg-white text-center display-1 text-primary mb-0 py-4">
            {% trans 'YOUR FAVORITES' %}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12 bg-brown py-2"></div>
</div>
{% if likes %}
<div class="row px-2 bg-white">
    <!-- Includes the standard product_box.hml template -->
    {% for product in page_obj %}
    {% include 'products/includes/product_box.html' %}
    {% endfor %}
</div>
{% else %}
<div class="row bg-white min-vh-75 p-2">
    <div class="col text-center">
        <h4 class="p-font text-primary">{% trans 'No Favorites...' %}</h4>
        <h2 class="h-font text-primary">{% trans 'DISCOVER' %}</h2>
        <a class="p-font btn-tran btn-lg btn btn-warning text-primary shadow"
            href="{% url 'products:product-list' %}">{% trans 'Our Offerings' %}</a>
    </div>
</div>
{% endif %}
{% if page_obj.has_next or page_obj.has_previous %}
<nav aria-label="{% trans 'Product Page Navigation' %}">
    {% include 'base/includes/paginator.html' %}
</nav>
{% endif %}
<div class="row">
    <div class="col-12 bg-brown py-2"></div>
</div>
{% endblock %}
