{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'likes/includes/critical_css/likes_list.html' %}{% endblock %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block head_title %}Your Likes{% endblock%}
{% block content %}
<!-- Displays a liked items feed in reverse chronological order.
If There is nothing it provides a link back to the page. -->
<section class="flex-grow-1 bg-white">
    <div class="row">
        <div class="col-12 bg-brown py-2">
            <h2 class="h-font l-space-2 text-white text-center display-4 mb-0">{% trans 'YOUR FAVORITES' %}</h2>
        </div>
    </div>
    {% if likes %}
    <div class="row px-2 bg-white">
        <!-- Includes the standard product_box.hml template -->
        {% for product in page_obj %}
        {% include 'products/includes/product_box.html' %}
        {% endfor %}
    </div>
    {% else %}
    <div class="row bg-white min-vh-75 p-2">
        <div class="col text-center my-auto">
            <h4 class="p-font text-primary fs-6">{% trans 'No Favorites...' %}</h4>
            <h2 class="h-font l-space-2 text-primary">{% trans 'DISCOVER' %}</h2>
            <a class="p-font smooth-click btn-tran btn-lg btn btn-warning text-primary shadow"
                href="{% url 'products:product-list' %}">{% trans 'Our Offerings' %}</a>
        </div>
    </div>
    {% endif %}
    {% if page_obj.has_next or page_obj.has_previous %}
    <nav aria-label="{% trans 'Product Page Navigation' %}">
        {% include 'base/includes/paginator.html' %}
    </nav>
    {% endif %}
</section>
{% include 'base/includes/horizontal_rule.html'%}
{% endblock %}
