{% extends 'base/base.html' %}

<!-- Loads internationalization, loads static and filter to get image extension -->
{% load i18n %} {% load static %} {% load app_filters %}

<!-- Meta details -->
{% block meta_description %}{{ product.description|striptags|truncatechars:270 }}{% endblock %}
{% block meta_keywords %}{{ block.super }}
{% trans 'shop, oracle, deck, smudge, artisanal, hand-made, product, services, courses' %},
{{ product.title }}{% endblock %}

<!-- Open Graph Tags -->
{% block og_type %}website{% endblock %}
{% block og_title %}{{ product.title }}{% endblock %}
{% block og_description %}{{ product.description|striptags|truncatechars:270 }}{% endblock %}
{% block og_image %}{{ product.image_4_3.url }}{% endblock %}
{% block og_image_type %}image/{{ product.image_4_3.name|extension }}{% endblock %}
{% block og_image_width %}{{ product.image_4_3.width }}{% endblock %}
{% block og_image_height %}{{ product.image_4_3.height }}{% endblock %}
{% block og_image_alt %}{{ product.title }}{% endblock %}

{% block head_title %}{{ product.title }}{% endblock %}

<!-- Critical CSS -->
{% block critical_css %}{% include 'products/includes/critical_css/product_detail.html' %}{% endblock %}

{% block content %}
<!-- Displays product details. Information changes depending on product characteristics,
such as size or quantity, mainly following the same scheme as the product_box.html template.
If there is quantity, it includes quantity selection linked to the form in the detail_cart_toggle.html template. -->
<nav class="col-12 bg-brown ps-3 py-1 py-sm-2 py-md-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item" aria-current="page">
            <a class="p-font smooth-click text-white" href="{% url 'products:product-list' %}">{% trans 'Shop' %}</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a class="p-font smooth-click text-white"
                href="{% url 'products:shop-category-detail' product.category.slug product.category.id %}">{{ product.category }}</a>
        </li>
        <li class="p-font text-secondary breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
</nav>
<section class="bg-white flex-grow-1 p-md-5 p-sm-0 pb-2">
    <article class="row justify-content-md-center">
        <div class="col-12 col-sm-5 position-relative p-0">
            <img src="{{ product.image_4_3.url }}" width="{{ product.image_4_3.width }}"
                height="{{ product.image_4_3.height }}" srcset="{{ product.image_4_3.url }} {{ product.image_4_3.width }}w,
                                                {{ product.image_4_3_md.url }} {{ product.image_4_3_md.width }}w,
                                                {{ product.image_4_3_sm.url }} {{ product.image_4_3_sm.width }}w,"
                sizes="40vw" class="img-fluid" alt="{{ product.name }}" />
            <!-- These display little banners that give extra info about the item. -->
            {% include 'products/includes/product_banners.html' %}
        </div>
        <div class="col-auto col-sm-7 col-lg-6 col-xl-5 px-2 p-md-4 p-lg-5">
            <div class="row">
                <div class="col-auto mt-2 mt-md-0">
                    <h2 class="l-space-1 h-font text-primary">{{ product.title|upper }}</h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="p-font col-auto">{{ product.description|safe }}</div>
                <div class="col-12"></div>
                <!-- Section selects columns and characteristics of the product to display. -->
                {% if product.stock > 0 or product.can_preorder %}
                <h4 class="col-auto px-0 text-center text-muted mb-3">€{{ product.price }}</h4>
                <!-- Displays a quantity selection box linked to the form in the detail_cart_toggle template. -->
                <div class="col-4 form-floating ms-3 mb-2">
                    <input class="form-control" type="number" id="id_quantity" form="cf-{{ product.id }}"
                        name="quantity" value="1" min="0" {% if product.stock > 0 %} max="{{ product.stock }}"
                        {% endif %} required{% if product.is_unique %} readonly{% endif %} />
                    <label class="p-font text-primary sr-only requiredField"
                        for="id_quantity">{% trans 'Quantity' %}</label>
                </div>
                {% endif %}
            </div>
            <div class="row align-items-center ms-1">
                <!-- This will only show the add to cart button if the item is in stock.
                        Even if added to cart in another way, the views should remove it alerting the user to 0 stock. -->
                {% if product.stock > 0 or product.can_preorder %}
                {% include 'cart/includes/detail_cart_toggle.html' %}
                {% endif %}
                {% include 'likes/includes/detail_like_toggle.html' %}
            </div>
        </div>
    </article>
</section>
{% if related_products %}
{% include 'base/includes/horizontal_rule.html'%}
<!-- Displays related items based on category. -->
{% include 'products/includes/related_products.html' %}
{% endif %}
{% endblock %}
