{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}

{% block head_title %}{% trans 'Shop' %}{% endblock%}

<!-- Open Graph Tags To redo -->
{% block og_type %}website{% endblock %}
{% block og_title %}{% trans 'Ancient Wisdom, Modern Healing' %}{% endblock %}
{% block og_description %}{% trans 'Our Offerings for You.' %}{% endblock %}
{% block og_image %}{% static 'open_graph/logo1200x630.png' %}{% endblock %}
{% block og_image_type %}image/png{% endblock %}
{% block og_image_width %}1200{% endblock %}
{% block og_image_height %}630{% endblock %}
{% block og_image_alt %}Nuragic Shamanic Healing Logo{% endblock %}
{% include 'base/includes/open_graph_basic.html'%}

{% block content %}
<!-- Page is utilised as the homepage as well as the search results page.
After the search section, it is the basis for all feed-based templates,
such as likes_list, category_detail and stockdrop_detail.-->
{% if 'query' in request.GET %}
<!-- Detects if a search query was made and displays the keyword.-->
<h3 class="text-center pt-2">check out:</h3>
<h1 class="h-font display-2 l-space-2 text-primary text-center">{{ request.GET.query }}</h1>
<hr />
{% endif %}
{% if page_obj %}
<div class="row">
    <div class="col-12 bg-brown py-2"></div>
</div>
<div class="row bg-white">
    <div class="col">
        <h1 class="h-font l-space-2 bg-white text-center display-1 text-primary mb-0 py-4">{% trans 'OUR OFFERINGS' %}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12 bg-brown py-2"></div>
</div>
<div class="row px-2 bg-white">
    <!-- This displays all products, organised by 'popularity' and stock quantity.
Retrieves all products if no search query is performed.
It utilises the paginator so it can use the infinite scroll feature. -->
    {% for product in page_obj %}
    {% include 'products/includes/product_box.html' %}
    {% endfor %}
</div>
{% else %}
<!-- Otherwise it shows a link to the home page, and a related products box. -->
<div class="row bg-white">
    <div class="col text-center">
        <h4 class="text-dark">Nothing found but good stuff is...</h4>
        <h2 class="text-primary heading-font">Neverlost</h2>
        <a class="btn btn-lg btn-danger shadow mt-2" href="{% url 'products:product-list' %}">Shop</a>
    </div>
</div>
<hr>
{% include 'products/includes/related_products.html' %}
{% endif %}
{% if page_obj.has_next or page_obj.has_previous %}
<nav aria-label="{% trans 'Product Page Navigation' %}">
    {% include 'base/includes/paginator.html' %}
</nav>
{% endif %}
<div class="row">
    <div class="col-12 bg-brown py-2"></div>
</div>
{% endblock %}
