{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}
{% block head_title %}{{ object.title }}{% endblock%} {% block content %}
<!-- Displays category. The name is up top, followed by the product feed.
Uses the product_box.html template -->
<div class="row bg-white pt-4">
    <div class="col">
        <h1 class="h-font display-2 l-space-2 text-primary text-center">{{ object.title|upper }}</h1>
    </div>
</div>
<div class="row bg-white">
    {% for product in page_obj %} {% include 'products/includes/product_box.html' %} {% endfor %}
</div>
{% if page_obj.has_next or page_obj.has_previous %}
<nav aria-label="{% trans 'Product Page Navigation for {{ object.title }}' %}">
    {% include 'base/includes/paginator.html' %}
</nav>
{% endif %}
{% endblock %}
