{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}
{% block head_title %}{{ object.title }}{% endblock%} {% block content %}

<!-- Critical CSS -->
<!-- {% block critical_css %}{% include 'products/includes/critical_css/shopcategory_detail.html' %}{% endblock %} -->

<!-- Displays category. The name is up top, followed by the product feed.
Uses the product_box.html template -->
<section>
    <div class="row">
        <div class="col-12 bg-brown py-2">
            <h2 class="h-font l-space-2 text-white text-center display-4 mb-0">{{ object.title|upper }}</h2>
        </div>
    </div>
    <div class="row bg-white">
        {% for product in page_obj %}
        {% include 'products/includes/product_box.html' %}
        {% endfor %}
    </div>
    {% if page_obj.has_next or page_obj.has_previous %}
    <nav aria-label="{% trans 'Product Page Navigation for' %} {{ object.title }}">
        {% include 'base/includes/paginator.html' %}
    </nav>
    {% endif %}
</section>
{% endblock %}
