{% load static %}
<!--This is the button that appears on the product_box.html template.
The toggle-form class makes it a target for the ajax functions..-->
<form class="toggle-form d-inline-block" id="cf-{{ product.id }}" action="{% url 'cart:cart-toggle' %}" method="POST">
    <!--Selects the default icon based on whether the item is in the cart or not.
    object tags are used to display the SVG for caching.-->
    <button type="submit" class="product btn text-center rounded-circle shadow m-1 p-2" id="cb-{{ product.id }}">
        {% if product.id|stringformat:'s' in cart %}
        {% include 'base/includes/icons/cart-check-fill.svg' %}
        {% else %}
        {% include 'base/includes/icons/cart-plus.svg' %}
        {% endif %}
    </button>
    {% csrf_token %}
    <!--It only sends the product ID and always a quantity of 1.-->
    <input type="hidden" name="quantity" value="1" />
    <input type="hidden" name="item-id" value="{{ product.id }}" />
</form>
