<!-- Loads internationalization -->
{% load i18n %} {% load static %}
{% if cart %}
<div class="offcanvas-header pb-0">
    <h2 class="h-font h3 l-space-1 text-primary mx-auto" id="offcanvasCartLabel">{% trans 'YOUR CART' %}</h2>
    <button type="button" class="btn-close text-reset ms-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="w-100 text-center mb-3">
        <a class="p-font smooth-click col-8 btn btn-success text-white shadow mx-auto mb-0"
            href="{% url 'cart:cart-list' %}">{% trans 'Go to Cart' %}</a>
        <div class="col-12 my-2"></div>
        <a class="p-font col-8 smooth-click btn btn-info text-white shadow mx-auto mb-0"
            href="{% url 'checkout:order-create' %}">{% trans 'Checkout' %}</a>
    </div>
    <ul class="list-group list-group-flush">
        {% for item in cart_items %}
        <a href="{% url 'products:product-detail' item.product.slug item.product.id %}"
            class="p-font list-group-item list-group-item-action fs-6 mb-0">
            <img class="product-thumb col-2 d-inline-block float-start" src="{{ item.product.image_4_3_xs.url }}"
                alt="{{ item.product.title }}">
            <div class="col-10 ms-auto">
                <div class="row">
                    <span
                        class="col-9 text-decoration-underline text-truncate align-self-start ps-2">{{ item.product.title }}</span>
                </div>
                <div class="row mt-3">
                    <span class="col-auto text-muted align-self-end ms-auto">{{ item.quantity }} x
                        €{{ item.product.price }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
        {% if delivery != 0 %}
        <a class="p-font list-group-item list-group-item-action text-primary fs-6 mx-0 mb-0"
            href="{% url 'cart:cart-list' %}">
            <span class="float-start">{% trans 'Delivery' %}</span>
            <span class="float-end text-muted">€{{ delivery|floatformat:2 }}</span>
        </a>
        {% endif %}
        <a class="p-font list-group-item list-group-item-action text-primary fs-6 mx-0 mb-0"
            href="{% url 'cart:cart-list' %}">
            <strong><span class="float-start p-font">{% trans 'Total' %}</span></strong>
            <span class="float-end">€{{ grand_total }}</span>
        </a>
    </ul>
</div>
{% else %}
<div class="offcanvas-header pb-0">
    <h2 class="h-font h3 l-space-1 text-primary mx-auto" id="offcanvasCartLabel">{% trans 'EMPTY CART' %}</h2>
    <button type="button" class="btn-close text-reset ms-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="w-100 text-center mb-3">
        <a class="p-font col-8 btn-tran smooth-click btn btn-warning text-primary shadow mx-auto mb-0"
            href="{% url 'products:product-list' %}">{% trans 'What can we offer you' %}?</a>
    </div>
</div>
{% endif %}
