<!-- Loads internationalization and static -->
{% load i18n %} {% load static %}
<!-- On xs devices the link goes directly to the cart. -->
<div class="dropdown">
    <a href="{% url 'cart:cart-list' %}" class="d-inline-block d-sm-none btn btn-link text-white px-2 py-auto">
        <p class="visually-hidden">{% trans 'Go to Cart' %}</p>
        <!--Selects the default icon based on whether there are carted items or not.-->
        {% if cart %}
        {% include 'base/includes/icons/cart-fill.nav.svg' %}
        {% else %}
        {% include 'base/includes/icons/cart.nav.svg' %}
        {% endif %}
    </a>
    <!-- On small devices and above the link opens a menu displaying items in the cart. -->
    <button type="button"
        class="d-none d-sm-inline-block cart-dropdown no-caret btn btn-link dropdown-toggle text-white px-2 py-auto pb-md-1"
        tabindex="0" data-bs-toggle="dropdown" aria-expanded="false">
        <!--Selects the default icon based on whether there are carted items or not.-->
        {% if cart %}
        {% include 'base/includes/icons/cart-fill.nav.svg' %}
        {% else %}
        {% include 'base/includes/icons/cart.nav.svg' %}
        {% endif %}
    </button>
    <!-- Displays Cart -->
    {% if cart %}
    <div class="min-vw-50 min-vw-lg-40 min-vw-xl-33 min-vw-xxl-25 dropdown-menu dropdown-menu-end text-start pt-0"
        aria-labelledby="dropdownCartMenu">
        <ul class="list-unstyled mb-0">
            <li class="text-end">
                <a class="p-font smooth-click btn-tran btn btn-warning text-primary shadow mt-1 me-2"
                    href="{% url 'cart:cart-list' %}">{% trans 'Go to Cart.' %}</a>
            </li>
        </ul>
        <ul class="list-group list-group-flush">
            {% for item in cart_items %}
            <a href="{% url 'products:product-detail' item.product.id %}"
                class="p-font list-group-item list-group-item-action fs-6 mb-0">
                <p class="mb-0">
                    <span
                        class="col-8 float-start text-decoration-underline text-truncate">{{ item.product.title }}</span>
                    <span class="col-auto text-muted float-end">{{ item.quantity }} x
                        €{{ item.product.price }}</span>
                </p>
            </a>
            {% endfor %}
            {% if delivery != 0 %}
            <p class="p-font list-group-item text-primary fs-6 mx-0 mb-0">
                <span class="float-start">Delivery</span>
                <span class="float-end text-muted">€{{ delivery|floatformat:2 }}</span>
            </p>
            {% endif %}
            <p class="p-font list-group-item text-primary  fs-6 mx-0 mb-0">
                <strong><span class="float-start">Total</span></strong>
                <span class="float-end">€{{ grand_total }}</span>
            </p>
        </ul>
    </div>
    {% else %}
    <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownCartMenu">
        <li>
            <p class="p-font text-primary mb-0">{% trans 'The Cart is empty.' %}</p>
        </li>
    </ul>
    {% endif %}
</div>
