<!-- Loads internationalization and static -->
{% load i18n %} {% load static %}
<div class="dropdown mx-2">
    <a href="#" role="button" class="cart-dropdown no-caret dropdown-toggle d-inline-block text-white py-auto pb-md-1"
        tabindex="0" data-bs-toggle="dropdown" aria-expanded="false">
        <!--Selects the default icon based on whether there are likes or not.
            object tags are used to display the SVG for caching.-->
        {% if cart %}
        {% include 'base/includes/icons/cart-fill.svg' %}
        {% else %}
        {% include 'base/includes/icons/cart.svg' %}
        {% endif %}
    </a>
    <!-- Displays Likes button -->
    {% if likes %}
    <div class="min-vw-60 min-vw-md-40 min-vw-xxl-33 dropdown-menu dropdown-menu-end text-center pt-0"
        aria-labelledby="dropdownLikeMenu">
        <ul class="row list-group list-group-horizontal">
            {% for product in likes|slice:':6' %}
            <li class="fav-item col-4 list-group-item border-0 p-1">
                <a class="smooth-click border-0 mx-0 my-1" href="{% url 'products:product-detail' product.id %}">
                    <img src="{{ product.image_4_3.url }}" width="{{ product.image_4_3.width }}"
                        height="{{ product.image_4_3.height }}" srcset="{{ product.image_4_3.url }} {{ product.image_4_3.width }}w,
                    {{ product.image_4_3_md.url }} {{ product.image_4_3_md.width }}w,
                    {{ product.image_4_3_sm.url }} {{ product.image_4_3_sm.width }}w," sizes="(max-width: 767px) 20vw,
                    (min-width: 768px) and (max-width: 1399px) 14vw,
                    (min-width: 1400px) 11vw" class="img-fluid" alt="{{ product.title }}" />
                    <p class="h-font d-none d-sm-block text-decoration-underline fs-6 mb-0">
                        {{ product.title|truncatechars:15|upper }}
                    </p>
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul class="list-unstyled mb-0">
            <li>
                <hr class="dropdown-divider mb-1 mt-0">
            </li>
            <li>
                <a class="p-font smooth-click btn-tran btn btn-warning text-primary shadow mt-1 mx-auto"
                    href="{% url 'likes:likes-list' %}">{% trans 'All Favorites' %}</a>
            </li>
        </ul>
    </div>
    {% else %}
    <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownLikeMenu">
        <li>
            <p class="p-font text-primary mb-0">{% trans 'No Favorites' %}</p>
        </li>
    </ul>
    {% endif %}
</div>
