<!-- Loads internationalization  -->
{% load i18n %}
<article class="col-12 col-md-4 order-0 order-md-1">
    <div class="subtotal-card card position-md-sticky border-0">
        <div class="card-body">
            {% if deliver != 0 %}
            <div class="d-flex justify-content-between">
                <p class="p-font card-subtitle mb-2 text-muted h5">{% trans 'Delivery' %}:</p>
                <p id="cart-delivery" class="p-font cart-totals card-subtitle mb-2 text-muted h5">
                    €{{ delivery|floatformat:2 }}</p>
            </div>
            {% endif %}
            <div class="d-flex justify-content-between">
                <h3 class="p-font card-title text-primary h4">{% trans 'Sub-total' %}:</h3>
                <h3 id="cart-grand" class="p-font cart-totals card-title text-primary h4">€{{ grand_total }}</h3>
            </div>
            <p class="p-font fs-6 text-muted card-text">
                {% if delivery != 0 %}
                {% trans 'Delivery will be calculated at the checkout' %}.<br><br>
                {% endif%}
                {% trans 'Thank you so much for supporting a small business' %}.
            </p>
            <div class="text-end text-md-start">
                <a class="p-font smooth-click btn btn-info text-white shadow mb-0"
                    href="{% url 'checkout:order-create' %}">{% trans 'Proceed with Order' %}</a>
            </div>
        </div>
    </div>
</article>
