{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}

<!-- Open Graph Tags -->
{% include 'base/includes/open_graph_basic.html'%}

{% block head_title %}{% trans 'Offline' %}{% endblock%}
{% block content %}
<!-- DIsplays a liked items feed in reverse chronological order.
If There is nothing it provides a link back to the page. -->
<div class="row">
    <div class="col-12 bg-brown py-2"></div>
</div>
<div class="row bg-white">
    <div class="col">
        <h1 class="h-font l-space-2 bg-white text-center display-1 text-primary mb-0 py-4">
            {% trans 'Offline' %}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12 bg-brown py-2"></div>
</div>
<div class="row bg-white min-vh-75 p-2">
    <div class="col text-center my-auto">
        <h2 class="h-font l-space-2 text-primary">{% trans 'SORRY' %}</h2>
        <h4 class="p-font text-primary fs-6">{% trans 'This part of the site is not accessible at the moment.' %}</h4>
    </div>
</div>
<div class="row">
    <div class="col-12 bg-brown py-2"></div>
</div>
{% endblock %}
