{% load i18n %} {% load static %}
<div class="offcanvas offcanvas-end" data-bs-keyboard="false" tabindex="-1" id="offcanvasCookies"
    aria-labelledby="offcanvasCookieLabel">
    <div class="cart-offcanvas-content overflow-auto">
        <div class="offcanvas-header pb-0">
            <h2 class="h-font h3 l-space-1 text-primary text-uppercase mx-auto" id="offcanvasCookieLabel">
                {% trans 'Cookie Consent' %}
            </h2>
        </div>
        <div class="offcanvas-body">
            <div class="w-100 text-center mb-3">
                <section class="p-font text-primary text-start small">
                    {% url 'policies:policy-detail' active_privacy.slug active_privacy.id as privacy_url %}
                    {% url 'policies:policy-detail' active_cookie.slug active_cookie.id as cookie_url %}
                    {% blocktrans %}
                    <p>This website uses cookies that help the website to function, for anonymous analytic purposes to
                        track how you interact with our our website, and advertising purposes.</p>
                    <ul>
                        <li>Essential, functional and fraud prevention cookies are <strong>required</strong> for site
                            use.</li>
                        <li>We <strong>respect</strong> Do Not Track requests. (Accept Required)</li>
                        <li>We <strong>do not</strong> show any advertisements on the website.</li>
                        <li>We use Google Analytics for <strong>anonymous</strong> usage data and analytics.</li>
                        <li>We may use Facebook Pixel for advertising or personalization purposes.</li>
                        <li>We may use cookies to connect with social networking sites.</li>
                        <li>For <strong>more information</strong> please read our <a class="text-info"
                                href="{{ privacy_url }}">Privacy
                                Policy</a> and <a class="text-info" href="{{ cookie_url }}">Cookie
                                Policy.</a></li>
                    </ul>
                    <p>For us to provide the best user experience, please enable the cookies by clicking on
                        <strong>Accept All</strong>.
                    </p>
                    {% endblocktrans %}
                </section>
                <form class="cookie-form mb-3" action="{% url 'cookies:consent' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="cookie-consent" value="opt-in">
                    <button type="submit"
                        class="p-font fw-bold col-8 btn-tran btn btn-warning text-primary shadow fw-bold mx-auto mb-0">{% trans 'Accept All' %}</button>
                </form>
                <form class="cookie-form mb-3" action="{% url 'cookies:consent' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="cookie-consent" value="analytics">
                    <button type="submit"
                        class="p-font col-8 btn-tran btn btn-white text-primary border-1 border-warning shadow fw-bold mx-auto mb-0">{% trans 'Accept Analytics' %}</button>
                </form>
                <form class="cookie-form" action="{% url 'cookies:consent' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="cookie-consent" value="decline">
                    <button type="submit"
                        class="p-font col-8 btn btn-link text-decoration-none text-primary shadow-sm mx-auto mb-0">{% trans 'Accept Required' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
