{% extends 'base/base.html' %} {% load i18n %} {% load static %} {% include 'base/includes/open_graph_basic.html' %}
{% block og_type %}website{% endblock %} {% block og_title %}{% trans 'Ancient Wisdom, Modern Healing' %}{% endblock %}
{% block og_description %}{% trans 'Consciousness, spirituality, healing and ancestry. Working with systems such as Tarot, Oracle Cards, Shamanic Drumming and Healing. Creating events for sharing and connections between individuals and cultures.' %}{% endblock %}
{% block og_image %}{% static 'open_graph/logo1200x630.png' %}{% endblock %}
{% block og_image_type %}image/png{% endblock %} {% block og_image_width %}1200{% endblock %}
{% block og_image_height %}630{% endblock %} {% block og_image_alt %}Nuragic Shamanic Healing Logo{% endblock %}
{% block head_title %}{% trans 'Holistic | Courses | Readings' %}{% endblock %} {% block content %}
{% include 'info/includes/home_carousel.html' %} <section>
	<article>
		<aside>
			<div class="row">
				<div class="col-12 bg-brown py-2">
					<p class="h-font l-space-2 d-none d-md-block h3 text-center text-white my-2"> &bull;
						{% trans 'SPIRITUALITY' %} &bull; {% trans 'CONNECTIONS' %} &bull; {% trans 'SHARING' %} &bull;
						{% trans 'ROOTS' %} &bull; </p>
					<p class="h-font l-space-2 d-md-none h6 text-center text-white mb-0"> &bull;
						{% trans 'SPIRITUALITY' %} &bull; {% trans 'CONNECTIONS' %} &bull; {% trans 'SHARING' %} &bull;
						{% trans 'ROOTS' %} &bull; </p>
				</div>
			</div>
		</aside> {% for item in categories %} {% if 'about' in item.menu_word_en %} <section class="row bg-white">
			<div class="col-auto col-md d-flex bg-white">
				<img src="{{ item.image.url }}" alt="{{ item.title }}" class="img-fluid m-auto" />
			</div>
			<div class="col-auto col-md bg-white px-3 px-md-4 pt-3 my-auto">
				<h1 class="h-font l-space-2 text-center text-primary">{{ item.title|upper }}</h1>
				<p class="p-font text-primary">{{ item.description }}</p>
				<p class="text-center">
					<a href="{% url 'info:category-detail' item.id %}"
						class="p-font btn-tran btn btn-warning shadow text-primary">{{ item.button_text }}<a>
				</p>
			</div>
			<div class="col-12 bg-brown py-2"></div>
		</section> {% endif %} {% endfor %} {% include 'info/includes/home_reviews.html' %}
	</article>
	<article>{% include 'info/includes/home_info.html' %}</article>
</section> {% endblock %} {% block postloadjs %} {{ block.super }}
<script src="{% static 'js/custom/index.js' %}"></script>
<script>
	carouselNormalization();
</script> {% endblock %}
