{% extends 'base/base.html' %}
<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}
<!-- Critical CSS -->
{% block critical_css %}{% include 'info/includes/critical_css/index.html' %}{% endblock %}
<!-- Meta details -->
{% block meta_description %}{% trans 'Consciousness, spirituality, healing and ancestry. Working with Tarot, Oracle Cards, Shamanic and Healing through Ancient Wisdom. Creating events for sharing and connections between individuals and cultures.' %}{% endblock %}
{% block meta_keywords %}{{ block.super }}
{% trans 'tarot, oracle cards, healing, reiki' %}{% endblock %}
<!-- Open Graph Tags -->
{% block og_type %}website{% endblock %} {% block og_title %}{% trans 'Ancient Wisdom, Modern Healing' %}{% endblock %}
{% block og_description %}{% trans 'Consciousness, spirituality, healing and ancestry. Working with systems such as Tarot, Oracle Cards, Shamanic Drumming and Healing. Creating events for sharing and connections between individuals and cultures.' %}{% endblock %}
{% block og_image %}{% static 'open_graph/logo1200x630.png' %}{% endblock %}
{% block og_image_type %}image/png{% endblock %}
{% block og_image_width %}1200{% endblock %}
{% block og_image_height %}630{% endblock %}
{% block og_image_alt %}Nuragic Shamanic Healing Logo{% endblock %}
{% block head_title %}{% trans 'Holistic | Courses | Readings' %}{% endblock %}
{% block content %}
<!-- SplashImage Carousel -->
{% include 'info/includes/home_carousel.html' %}
<!-- Main content section -->
<section>
    <h2 class="visually-hidden">{% trans 'Index' %}</h2>
    <article>
        <h3 class="visually-hidden">{% trans 'About' %}</h3>
        <!-- Keyword bar -->
        <aside>
            <div class="row">
                <div class="col-12 bg-brown py-2">
                    <p class="h-font l-space-2 d-none d-md-block h3 text-center text-white my-2"> &bull;
                        {% trans 'SPIRITUALITY' %} &bull; {% trans 'CONNECTIONS' %} &bull; {% trans 'SHARING' %} &bull;
                        {% trans 'ROOTS' %} &bull; </p>
                    <p class="h-font l-space-2 d-md-none text-center text-white mb-0"> &bull; {% trans 'SPIRITUALITY' %}
                        &bull; {% trans 'CONNECTIONS' %} &bull; {% trans 'SHARING' %} &bull; {% trans 'ROOTS' %} &bull;
                    </p>
                </div>
            </div>
        </aside>
        <!-- PLaces a description for the About section, excluding than other categories -->
        {% for item in categories %}
        {% if 'about' in item.menu_word_en.lower %}
        <section class="row bg-white">
            <div class="col-auto col-md d-flex bg-white">
                <img src="{{ item.image_fb_link.url }}" width="{{ item.image_fb_link.width }}"
                    height="{{ item.image_fb_link.height }}" srcset="{{ item.image_fb_link.url }} {{ item.image_fb_link.width }}w,
                    {{ item.image_fb_link_md.url }} {{ item.image_fb_link_md.width }}w,{{ item.image_fb_link_md.url }} {{ item.image_fb_link_md.width }}w,
                    {{ item.image_fb_link_sm.url }} {{ item.image_fb_link_sm.width }}w" sizes="(max-width: 767px) 100vw,
                    (min-width: 768px) 50vw" alt="{{ item.title }}" class="img-fluid m-auto" />
            </div>
            <div class="col-auto col-md bg-white px-3 px-md-4 pt-3 my-auto">
                <h4 class="h-font l-space-2 h1 text-center text-primary">{{ item.title|upper }}</h4>
                <div class="p-font text-primary">{{ item.description|safe }}</div>
                <p class="text-center">
                    <a href="{% url 'info:category-detail' item.id %}"
                        class="p-font btn-tran btn btn-warning shadow text-primary">{{ item.button_text }}</a>
                </p>
            </div>
            <!-- Spacer -->
            <div class="col-12 bg-brown py-2"></div>
        </section>
        {% endif %}
        {% endfor %}
        <!-- Review carousel -->
        {% include 'info/includes/home_reviews.html' %}
    </article>
    <!-- Runs through each category, placing them all except About.  -->
    <article>
        <h3 class="visually-hidden">{% trans 'What we do' %}</h3>
        {% include 'info/includes/home_info.html' %}
    </article>
</section>
{% endblock %}
<!-- Script block -->
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/custom/index.js' %}?{{ VERSION }}"></script>
<script>
    // Sets the Review carousel to a fixed height as their content can differ
    carouselNormalization();
</script>
{% endblock %}
