{% extends 'base/base.html' %}
{% load static %}
{% block head_title %}Holistic | Courses | Readings{% endblock %}

{% block content %}
{% include 'info/includes/home_carousel.html' %}
<article>
    <aside>
        <div class="row my-2">
            <div class="col-12">
                <p class="h-font l-space-2 d-none d-md-block h3 text-center text-secondary my-2">&bull; SPIRITUALITY &bull; CONNECTIONS &bull; SHARING &bull; ROOTS &bull;</p>
                <p class="h-font l-space-2 d-md-none h6 text-center text-secondary mb-0">&bull; SPIRITUALITY &bull; CONNECTIONS &bull; SHARING &bull; ROOTS &bull;</p>
            </div>
        </div>
    </aside>
    <section class="row">
        <div class="col-auto col-md d-flex bg-white">
            <img src="{% static 'images/IMG_7707.jpg' %}" alt="Alessandro Profile Pic" class="img-fluid m-auto">
        </div>
        <div class="col-auto col-md bg-white px-3 pt-3">
            <h1 class="h-font l-space-2 text-md-right text-primary">ALESSANDRO</h1>
            <p class="p-font text-primary">Tarot Reader & Teacher. Kundalini Reiki Practitioner. Womb Keeper. Spiritual Events and Retreats Organizer. Founder of Nuragic Shamanic Healing Founder of The Path of the Bull : Men's Circle</p>
            <p class="text-center"><a href="#" class="p-font btn-tran btn btn-secondary shadow text-white">Get to Know Me</a></p>
        </div>
    </section>
{% include 'info/includes/home_reviews.html' %}
</article>
<article>
{% include 'info/includes/home_info.html' %}
</article>
{% endblock %}
{% block postloadjs %}
{{ super }}
<script src="{% static 'js/custom/index.js' %}"></script>
<script>
carouselNormalization()
</script>
{% endblock %}