{% extends 'base/base.html' %}
<!-- Loads internationalization -->
{% load i18n %}

<!-- Meta details -->
{% block meta_description %}{% trans 'Your orders. Thank you for your support.' %}{% endblock %}
{% block meta_keywords %}{{ block.super }} {% trans 'Orders' %}{% endblock %}

<!-- Meta details -->
{% block meta_description %}{{ order.order_number }}{% endblock %}
{% block meta_keywords %}{{ block.super }} {% for item in order.lineitems.all %}{{ item.product.title }}, {% endfor %}
{% endblock %}

<!--  Open Graph -->
{% include 'base/includes/open_graph_basic.html'%}

{% block head_title %}{% trans 'My Orders' %}{% endblock%}

{% block content %}
<!--Displays all orders that have been made in a list. -->
<section class="flex-grow-1 bg-white">
    <div class="row">
        <div class="col-12 bg-brown py-2">
            <h2 class="h-font l-space-2 text-white text-center text-uppercase display-4 mb-0">{% trans 'My Orders' %}
            </h2>
        </div>
    </div>
    <!-- Displays an order row for each item -->
    {% if orders %}
    <ul class="list-group list-group-flush p-2">
        {% for order in orders %}
        {% include 'checkout/includes/order_display.html' %}
        {% endfor %}
    </ul>
    {% else %}
    <section class="row px-0 flex-xl-grow-1 px-md-2 bg-white">
        <article class="col text-center mt-4">
            <h2 class="p-font text-primary h4">{% trans 'No Orders have been made'%}.</h2>
            <h2 class="p-font text-primary mb-0">{% trans 'What do we have for you' %}?</h2>
            <a class="p-font text-primary btn-tran btn btn-lg btn-warning my-4"
                href="{% url 'products:product-list' %}">{% trans 'Offerings' %}</a>
        </article>
    </section>
    {% endif %}
    {% if page_obj.has_next or page_obj.has_previous %}
    <nav aria-label="{% trans 'Product Page Navigation' %}">
        {% include 'base/includes/paginator.html' %}
    </nav>
    {% endif %}
</section>
{% endblock %}
