{% extends 'base/base.html' %}
<!-- Loads internationalization -->
{% load i18n %}

{% block head_title %}{% trans 'Your Order' %}{% endblock%}

{% block content %}
<!-- Displays an order's specific details.
Utilises template logic to display or omit optional fields such as street_address_2 -->
<section class="flex-grow-1 bg-white">
    <div class="row">
        <div class="col-12 bg-brown py-2">
            <h2 class="h-font l-space-2 text-white text-center text-uppercase display-4 mb-0">
                {% trans 'Order Complete' %}</h2>
        </div>
    </div>
    <article class="row p-3">
        <div class="col-12 col-md-6 p-md-3">
            <div class="row">
                <div class="col-12">
                    <h2 class="p-font text-primary h3">{% trans 'Order Details' %}</h2>
                </div>
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Order Number' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1 text-break">{{ order.order_number }}</p>
                </div>
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Date' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.date }}</p>
                </div>
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Email' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.email }}</p>
                </div>
                <div class="col-12">
                    <hr class="my-3" />
                </div>
                <div class="col-12">
                    <h2 class="p-font text-primary h3">{% trans 'Shipping Details' %}</h2>
                </div>
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Name' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.shipping_full_name }}</p>
                </div>
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Phone Number' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.shipping_phone_number }}</p>
                </div>
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Street Address 1' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.shipping_street_address_1 }}</p>
                </div>
                {% if order.shipping_street_address_2 %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Street Address 2' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.shipping_street_address_2 }}</p>
                </div>
                {% endif %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Town or City' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.shipping_town_or_city }}</p>
                </div>
                {% if order.shipping_county %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'County' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.shipping_county }}</p>
                </div>
                {% endif %} {% if order.shipping_postcode %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Postcode' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.shipping_postcode }}</p>
                </div>
                {% endif %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Country' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.shipping_country.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr class="my-3" />
                </div>
                <div class="col-12">
                    <h2 class="p-font text-primary h3">{% trans 'Billing Details' %}</h2>
                </div>
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Name' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.billing_full_name }}</p>
                </div>
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Phone Number' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.billing_phone_number }}</p>
                </div>
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Street Address 1' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.billing_street_address_1 }}</p>
                </div>
                {% if order.billing_street_address_2 %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Street Address 2' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.billing_street_address_2 }}</p>
                </div>
                {% endif %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Town or City' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.billing_town_or_city }}</p>
                </div>
                {% if order.billing_county %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'County' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.billing_county }}</p>
                </div>
                {% endif %} {% if order.billing_postcode %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Postcode' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.billing_postcode }}</p>
                </div>
                {% endif %}
                <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                    <p class="p-font text-primary mb-1"><strong>{% trans 'Country' %}:</strong></p>
                </div>
                <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                    <p class="p-font text-primary mb-1">{{ order.billing_country.name }}</p>
                </div>
            </div>
            <hr class="d-md-none my-3" />
        </div>
        <div class="col-12 col-md-6 p-md-3">
            <ul class="list-group list-group-flush">

                <!-- Uses the same template as is used in the order_form.html template for product display -->
                {% for item in order.lineitems.all %}
                {% with item.product as product %}
                {% include 'checkout/includes/checkout_product_display.html' %}
                {% endwith %}
                {% endfor %}
                <li class="p-font list-group-item text-primary fs-6 mx-0 mb-0 ps-0">
                    <span class="float-start">{% trans 'Item Total' %}</span>
                    <span class="float-end text-muted">€{{ order.order_total|floatformat:2 }}</span>
                </li>
                {% if order.delivery_cost != 0 %}
                <li class="p-font list-group-item text-primary fs-6 mx-0 mb-0 ps-0">
                    <span class="float-start">{% trans 'Delivery' %}</span>
                    <span class="float-end text-muted">€{{ order.delivery_cost|floatformat:2 }}</span>
                </li>
                {% endif %}
                <li class="p-font list-group-item text-primary fs-6 mx-0 mb-0 ps-0">
                    <strong><span class="p-font float-start">{% trans 'Grand Total' %}</span></strong>
                    <strong><span class="float-end">€{{ order.grand_total|floatformat:2 }}</span></strong>
                </li>
            </ul>
        </div>
    </article>
</section>
{% endblock %}
