<!-- Loads internationalization -->
{% load i18n %}
<div class="dropdown">
    <a href="#" role="button" class="href-stop no-caret dropdown-toggle d-inline-block text-white py-auto pb-md-1"
        tabindex="0" id="dropdownUserMenu" data-bs-toggle="dropdown" aria-expanded="false">
        {% include 'base/includes/icons/person-circle.svg' %}
    </a>
    <!-- Displays settings button -->
    <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownUserMenu">
        <a class="p-font smooth-click btn-tran btn btn-warning text-primary shadow mb-0"
            href="{% url 'users:user-detail' request.user.id %}">{% trans 'Settings' %}</a>
        <!--Displays logout button. -->
        <div class="list-group border-0">
            <form class="list-group-item border-0 mx-0 my-1 p-1" method="POST"
                action="{% url 'account_logout' %}?next={{ request.path }}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="p-font smooth-click btn btn-link text-left p-0 shadow"
                    value="Submit">{% trans 'Logout' %}</button>
            </form>
        </div>
    </ul>
</div>
