<!-- Form logic and template taken from django-allauth. Only visual styles have been altered. -->
{% load i18n %} {% load crispy_forms_tags %}

{% url 'users:user-email' as url_add_email %}

<article class="row">
    <h3 class="h-font l-space-1 col-12 text-primary text-uppercase">{% trans 'Email Settings' %}</h3>
    <div class="col-12 mb-1">
        <form action="{% url 'users:user-email' %}" class="email_list" method="POST">
            {% csrf_token %}
            <fieldset>
                {% for emailaddress in user.emailaddress_set.all %}
                <div class="form-check mb-1">
                    <input class="form-check-input" id="email_radio_{{forloop.counter}}" type="radio" name="email"
                        {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked" {%endif %}
                        value="{{emailaddress.email}}" />
                    <label for="email_radio_{{forloop.counter}}"
                        class="p-font text-primary{% if emailaddress.primary %} primary_email{%endif%} form-check-label w-100 text-break">{{ emailaddress.email }}
                        {% if not emailaddress.verified %}
                        <span
                            class="p-font text-danger unverified float-end"><strong>{% trans "Unverified" %}</strong></span>
                        {% endif %}
                        {% if emailaddress.primary %}
                        <span class="p-font primary float-end"><strong>{% trans "Primary" %}</strong></span>
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
                {% if user.emailaddress_set.all|length > 1 %}
                <button class="secondaryAction btn p-font btn-sm btn-tran btn-warning text-primary shadow fw-bold my-1"
                    type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
                <button class="secondaryAction btn p-font btn-sm btn-tran btn-warning text-primary shadow fw-bold my-1"
                    type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
                <button class="primaryAction btn p-font btn-sm text-white shadow btn-danger fw-bold my-1" type="submit"
                    name="action_remove">{% trans 'Delete' %}</button>
                {% endif %}
            </fieldset>
        </form>
    </div>

    <h3 class="p-font col-12 text-primary mt-2 h6">{% trans "Add Email Address" %}:</h3>
    <div class="col-12">
        <form method="POST" action="{% url 'users:user-email' %}" class="add_email">
            {% csrf_token %}
            {% if request.path == url_add_email %}
            {{ form|crispy }}
            {% else %}
            {{ add_email_form|crispy }}
            {% endif %}
            <div class="row">
                <div class="col-auto me-auto mt-1">
                    <button name="action_add"
                        class="btn btn-sm p-font btn-tran btn btn-warning text-primary shadow fw-bold"
                        type="submit">{% trans 'Add Email' %}</button>
                </div>
            </div>
        </form>
    </div>
</article>
