<!-- Load internationalization and crispy_forms -->
{% load i18n %} {% load crispy_forms_tags %} {% url 'users:user-change-password' as url_change_password %}

<article class="row">
    <h3 class="h-font l-space-1 text-primary mb-3">{% trans "CHANGE PASSWORD" %}</h3>
    <div class="col-12">
        <form method="POST" action="{% url 'users:user-change-password' %}" class="password_change">
            {% csrf_token %}
            {% if request.path == url_change_password %}
            {{ form|crispy }}
            {% else %}
            {{ change_password_form|crispy }}
            {% endif %}
            <div class="row">
                <div class="col-auto me-auto mt-1">
                    <button class="btn btn-sm p-font btn-tran btn btn-warning text-primary shadow" type="submit"
                        name="action">{% trans "Change Password" %}</button>
                </div>
            </div>
        </form>
    </div>
</article>
