<!-- Loads internationalization -->
{% load i18n %}
<div class="col-auto dropdown">
    <button type="button" class="no-caret dropdown-toggle btn btn-link d-inline-block text-white px-2 py-auto pb-md-1"
        tabindex="0" data-bs-toggle="dropdown" aria-expanded="false">
        <p class="visually-hidden">{% trans 'Login and Register' %}</p>
        {% include 'base/includes/icons/person-circle.svg' %}
    </button>
    <!-- Displays Register and Sign In buttons. -->
    <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownUserMenu">
        <li class="dropdown-item no-hover">
            <a href="{% url 'account_login' %}?next={{ request.path }}"
                class="p-font btn-tran smooth-click btn btn-warning text-primary shadow mb-0">{% trans 'Sign In' %}</a>
            |
            <a href="{% url 'account_signup' %}?next={{ request.path }}"
                class="p-font btn-tran smooth-click btn btn-warning text-primary shadow mb-0">{% trans 'Register' %}</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <p class="p-font text-primary mb-0">{% trans 'Join the Community' %}</p>
        </li>
    </ul>
</div>
