<!-- Loads internationalization, loads static  -->
{% load i18n %} {% load static %}
<!-- This is the standard template to display products in a feed.
It is used in many templates, stockdrop and category detail, the product_list homepage,
related items box, and likes_list.
It displays two ajax buttons for liking and adding to cart among other details that vary depending on
the product's characteristics, e.g. size, unique item, etc.. -->
{% if 'shop/product/' in request.path %}
<div class="col-8 col-sm-4 col-md-3 m-2">
    {% else %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-0 p-sm-1 p-lg-2 p-xl-3">
        {% endif %}
        <article class="card mx-0 mx-lg-1 mx-lg-2 m-0 mt-sm-3">
            <a href="{% url 'products:product-detail' product.slug product.id %}"
                class="smooth-click position-relative">
                <img src="{{ product.image_4_3.url }}" width="{{ product.image_4_3.width }}"
                    height="{{ product.image_4_3.height }}" srcset="{{ product.image_4_3.url }} {{ product.image_4_3.width }}w,
                                {{ product.image_4_3_md.url }} {{ product.image_4_3_md.width }}w,
                                {{ product.image_4_3_sm.url }} {{ product.image_4_3_sm.width }}w"
                    sizes="(max-width: 575px) 100vw, (max-width: 767px) 50vw, (max-width: 991px) 33vw, (min-width: 992px) 25vw"
                    class="card-img-top img-fluid" alt="{{ product.title }}" />
                <!-- These display little banners that give extra info about the item. -->
                {% include 'products/includes/product_banners.html' %}
            </a>
            <div class="position-relative">
                <div class="col-auto position-absolute bottom-0 end-0 text-center m-2">
                    {% if product.stock > 0 or product.can_preorder %}
                    {% include 'cart/includes/box_cart_toggle.html' %}
                    {% endif %}
                    {% include 'likes/includes/box_like_toggle.html' %}
                </div>
            </div>
            <div class="product row card-body mx-0 px-0 pt-1 pb-0">
                <!-- Displays product info -->
                <a class="smooth-click col-12 px-0" href="{% url 'products:product-detail' product.slug product.id %}">
                    <h5 class="h-font card-text text-truncate text-primary fs-3 fs-sm-4 fs-md-5 mb-1 px-2">
                        {{ product.title|upper }}
                    </h5>
                </a>
                <div class="product-box-desc p-font col-12 overflow-hidden text-primary fs-6 mb-0 px-2">
                    {{ product.description|safe }}
                </div>
                <h6 class="p-font col-auto text-muted px-2 my-2 ms-auto">€{{ product.price }}</h6>
            </div>
        </article>
    </div>
