<!-- Loads internationalization and static -->
{% load i18n %} {% load static %}
<div class="dropdown mx-2">
    <a href="#" role="button" class="href-stop no-caret dropdown-toggle d-inline-block text-white py-auto pb-md-1"
        tabindex="0" id="dropdownLikeMenu" data-bs-toggle="dropdown" aria-expanded="false">
        {% include 'base/includes/icons/person-circle.svg' %}
    </a>
    <!-- Displays settings button -->
    <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownLikeMenu">
        <a class="p-font smooth-click btn-tran btn btn-warning text-primary shadow mb-0"
            href="{% url 'likes:likes-list' %}">{% trans 'Bookmarks' %}</a>
        <!--Displays logout button. -->
        <div class="border-0">
            <form class="border-0 mx-0 my-1 p-1" method="POST"
                action="{% url 'account_logout' %}?next={{ request.path }}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="p-font btn btn-link text-left p-0"
                    value="Submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </ul>
</div>
    <!--Selects the default icon based on whether there are likes or not.
    object tags are used to display the SVG for caching.-->
    {% if likes %}
    <object class="header-object" type="image/svg+xml" data="{% static 'icons/heart-fill.svg' %}">
        <img src="{% static 'icons/heart-fill.svg' %}" alt="Account" />
    </object>
    {% else %}
    <object class="header-object" type="image/svg+xml" data="{% static 'icons/heart-white.svg' %}">
        <img src="{% static 'icons/heart-white.svg' %}" alt="Account" />
    </object>
    {% endif %}
</a>
